@keyframes rainbow {
    0% {
        color: #c439d1;
    }

    25% {
        color: #ff4d4d;
    }

    50% {
        color: #ffc54d;
    }

    75% {
        color: #6aed76;
    }

    100% {
        color: #09f;
    }
}

.rainbow {
    animation: rainbow 10s ease 0s infinite alternate none running;
}

.rotate-text {
    animation: rotate 10s ease infinite;
    animation-delay: 1.5s;
}

@keyframes rotate {

    0%,
    27% {
        top: 0;
    }

    33%,
    60% {
        top: -2rem;
    }

    66%,
    93% {
        top: -4rem;
    }

    100% {
        top: -6rem;
    }
}

@media (min-width: 1280px) {
    .rotate-text {
        animation: rotate 10s ease infinite;
        animation-delay: 1.5s;
    }

    @keyframes rotate {

        0%,
        27% {
            top: 0;
        }

        33%,
        60% {
            top: -3rem;
        }

        66%,
        93% {
            top: -6rem;
        }

        100% {
            top: -9rem;
        }
    }
}