@tailwind base;
  @tailwind components;
  @tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #121316;
  margin-block: 2px;
}

::-webkit-scrollbar-thumb {
  background: #003062;
  border-radius: 100vw;
  border: #121316 solid 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #255EA7;
}

@media (min-width: 1280px) {
  ::-webkit-scrollbar {
      width: 8px;
  }

  ::-webkit-scrollbar-track {
      background: #121316;
      margin-block: 2px;
  }

  ::-webkit-scrollbar-thumb {
      background: #003062;
      border-radius: 100vw;
      border: #121316 solid 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
      background: #255EA7;
  }
}