@tailwind base;
  @tailwind components;
  @tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #072621;
  margin-block: 2px;
}

::-webkit-scrollbar-thumb {
  background: #13594E;
  border-radius: 100vw;
  border: #072621 solid 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #26B29D;
}

@media (min-width: 1280px) {
  ::-webkit-scrollbar {
      width: 8px;
  }

  ::-webkit-scrollbar-track {
      background: #072621;
      margin-block: 2px;
  }

  ::-webkit-scrollbar-thumb {
      background: #13594E;
      border-radius: 100vw;
      border: #072621 solid 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
      background: #26B29D;
  }
}